@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

html,
body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}

a {
  color: rgb(0, 100, 255);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  width: 100%;
  border: 1px solid rgb(50, 50, 50);
  background-color: rgb(50, 50, 50);
}
